
.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 1rem;
  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 10%,
    hsl(0 0% 0% / 1) 90%,
    hsl(0 0% 0% / 0)
  );
}

.marquee-group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 100%;
  animation: scroll 60s linear infinite;
}

.marquee-reverse .marquee-group {
    animation-direction: reverse;
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

@media (prefers-reduced-motion: reduce) {
  .marquee-group {
    animation: none;
  }
}
